dist
node_modules
.idea
package-lock.json
out
export
*.js
*.d.ts
dev.patch
.scannerwork
certs
update.key
docs
coverage
data
!jest.config.js
/openapi.yml
.npmrc
*.tgz
swagger.html
/.env
/testRequests/http-client.private.env.json
/junit.xml
/openapi.json
/gen/
/tests/run.ts
/admin.conf
/src/modules/MSModule/
*.iml
/public/ui/
